---
// Assets
import { Image } from "astro:assets";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
const { title, url, image, price } = {
  url: "/store/" + Astro.props.post.slug,
  price: Astro.props.post.data.price,
  title: Astro.props.post.data.title,
  image: Astro.props.post.data.image.url,
};
---

<article
  class="group-hover:opacity-30 hover:opacity-100 peer hover:peer-hover:opacity-30 duration-300 relative"
>
  <a href={url} title={title} class="absolute inset-0 z-10"> </a>
  <div class="p-8 bg-base-50 rounded-lg">
    <Image
      width="500"
      height="500"
      src={image}
      alt={Astro.props.post.data.image.alt}
      class="object-cover aspect-8/5 w-full object-top rounded shadow"
    />
  </div>
  <div class="pt-2">
    <Text tag="h3" variant="textSM" class="text-base-600">
      <span>${price}</span>
      —
      <span>{title}</span>
    </Text>
  </div>
</article>
