---
// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BigCard from "@/components/sites/SiteCard.astro";
// Retrieve all posts from the "posts" collection
const alltools = await getCollection("sites");
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allTools = await getCollection("sites");
  const uniqueTags = [
    ...new Set(allTools.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allTools.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { tools: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
// Collect all unique tags
const allTags = [...new Set(alltools.flatMap((post) => post.data.tags || []))];
const sortedTags = allTags.sort((a, b) => a.localeCompare(b));

// Facets removed (filters button hidden)
---

<BaseLayout pageTitle={tag} showSearch={true}>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <Text
        tag="h1"
        variant="displayLG"
        class="text-base-900 font-display font-light text-center max-w-xl mx-auto text-balance"
      >
        Explore all sites related to {tag}
      </Text>
      <div class="flex items-center gap-1 mt-24">
        <div
          class="relative flex snap-x snap-proximity gap-1 py-2 px-2 overflow-x-scroll scrollbar-hide"
        >
          {
            sortedTags.map((tag) => (
              <Button
                isLink
                size="sm"
                variant="muted"
                title={tag}
                aria-label={tag}
                href={`/sites/tags/${tag}`}
                class="capitalize"
              >
                {tag}
              </Button>
            ))
          }
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 mt-2">
        {
          alltools
            .filter((post) => post.data.tags.includes(tag)) // Filter by the selected tag
            .map((filteredPost) => <BigCard post={filteredPost} />)
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
