---
const { websiteName, visitUrl, pubDate, thumbnail } = Astro.props;
---

<div class="group">
  <a href={visitUrl} class="hover:opacity-80 duration-200">
    <div
      class="border border-zinc-800 group-hover:grayscale overflow-hidden rounded-4xl"
    >
      <img  src={thumbnail} alt={websiteName} />
    </div>
  </a>
  <div class="flex flex-col uppercase mt-2 text-center">
    <p class="text-white text-sm">{websiteName}</p>
    <p class="text-zinc-400 text-xs mt-1">
      Added on {pubDate}
    </p>
  </div>
</div>
