---
// Assets
import { Image } from "astro:assets";
// Fndation
import Text from "@/components/fundations/elements/Text.astro";
// Components
import BookmarksModal from "./BookmarksModal.astro";
// import data from Tools content collections
const { title, url, thumbnail, live } = {
  url: "/sites/site/" + Astro.props.post.slug,
  live: Astro.props.post.data.live,
  title: Astro.props.post.data.title,
  thumbnail: Astro.props.post.data.thumbnail.url,
};
---

<div
  class="group-hover:opacity-30 hover:opacity-100 peer hover:peer-hover:opacity-30 duration-300 group"
>
  <div class="overflow-hidden relative">
    <Image
      width="500"
      height="500"
      src={thumbnail}
      alt={Astro.props.post.data.thumbnail.alt}
      class="object-cover aspect-8/10 w-full object-top rounded-xl"
    />
    <a href={url} title={title}>
      <span class="absolute inset-0"></span>
    </a>
  </div>
  <div class="pt-2">
    <div class="flex items-center lg:justify-between">
      <div class="flex items-center gap-2">
        <a
  href={live}
  title={title}
  aria-label={`Visit ${title} website (opens in new tab)`}
  target="_blank"
  rel="noopener noreferrer"
  class="size-8 bg-base-900 p-2 flex hover:bg-base-100 rounded-full transition-colors text-white hover:text-base-900"
>
  <svg
    class="size-4"
    viewBox="0 0 15 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
      fill="currentColor"
      fill-rule="evenodd"
      clip-rule="evenodd"
    ></path>
  </svg>
</a>


        <Text tag="h3" variant="textBase" class="font-medium text-white"
          >{title}
        </Text>
      </div>
      <div class="flex items-center gap-2 text-white">
        <div x-data="{ open: false }">
  <button
    class="flex items-center"
    x-on:click="open = true"
    aria-label="Open bookmarks modal"
  >
    <span class="sr-only">Open bookmarks modal</span>
    <svg
      class="size-4"
      viewBox="0 0 15 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3 2.5C3 2.22386..."
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <BookmarksModal />
</div>
<button
  class="flex items-center"
  aria-label="Add to favorites"
>
  <span class="sr-only">Add to favorites</span>
  <svg
    class="size-4"
    viewBox="0 0 15 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.89346 2.35248..."
      fill="currentColor"
      fill-rule="evenodd"
      clip-rule="evenodd"
    ></path>
  </svg>
</button>

      </div>
    </div>
  </div>
</div>
