---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, url, thumbnail, live } = {
  url: "/sites/site/" + Astro.props.post.slug,
  live: Astro.props.post.data.live,
  title: Astro.props.post.data.title,
  thumbnail: Astro.props.post.data.thumbnail.url,
};
---

<div
  class="group-hover:opacity-30 hover:opacity-100 peer hover:peer-hover:opacity-30 duration-300 group"
>
  <div class="relative p-8 bg-base-50 rounded-lg">
    <Image
      width="900"
      height="900"
      src={thumbnail}
      alt={Astro.props.post.data.thumbnail.alt}
      class="object-cover aspect-8/5 w-full object-top rounded shadow"
    />
    <a href={url} title={title}>
      <span class="absolute inset-0"></span>
    </a>
  </div>
  <div class="flex items-center mt-2 gap-2">
    <Text tag="h3" variant="textSM" class="text-base-600 capitalize">
      {title}
    </Text>
  </div>
</div>
