---
//  Assets
import { Image } from "astro:assets";
// Layout
import BaseLayout from "./BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";
// Frontmatter
const { frontmatter } = Astro.props;
// Retrieve all posts from the "posts" collection, which returns an unsorted array of post objects
import { getCollection } from "astro:content";
const allPostsUnsorted = await getCollection("posts");
// Sort the posts in descending order by publication date (newest to oldest)
const allPosts = allPostsUnsorted.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <div class="text-balance">
        <div class="text-center max-w-3xl mx-auto text-balance">
          <Text
            tag="h1"
            variant="displayLG"
            class="text-base-900 font-display font-thin"
          >
            {frontmatter.title}
          </Text>
          <Text tag="p" variant="textBase" class="text-base-600 mt-4">
            {frontmatter.description}
          </Text>
        </div>
        <div class="flex flex-wrap items-center gap-1 mt-8 justify-center">
          {
            frontmatter.tags.map((tag) => (
              <>
                <Button
                  isLink
                  title={tag}
                  size="sm"
                  variant="muted"
                  aria-label={tag}
                  href={`/blog/tags/${tag}`}
                  class="text-accent-500  font-medium text-xs hover:text-base-900   capitalize  "
                >
                  {tag}
                </Button>
              </>
            ))
          }
        </div>
      </div>
      <div class="p-8 bg-base-50 rounded-lg mt-12">
        <Image
          width={1400}
          height={1400}
          loading="lazy"
          decoding="async"
          src={frontmatter.image.url}
          alt={frontmatter.image.url}
          class="size-full aspect-8/5 object-top rounded shadow object-cover"
        />
      </div>
      <Wrapper variant="narrow" class="mt-12"
        ><Wrapper variant="prose"><slot /></Wrapper></Wrapper
      >
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div class="flex flex-wrap gap-4 justify-between items-center">
        <Text
          tag="h2"
          variant="displaySM"
          class="text-base-900 font-display font-thin">Latest posts</Text
        >
        <Button isLink size="sm" variant="muted" href="/blog/">
          See all posts
        </Button>
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 mt-8">
        {allPosts.slice(0, 3).map((post) => <BlogCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
