---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import CollectionModal from "@/components/directory/CollectionModal.astro";
---

<BaseLayout>
  <section>
    <div class="w-full mx-auto max-w-screen-2xl px-8 py-24">
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-px">
        <div class="lg:col-span-2 order-first">
          <div class="p-10 bg-zinc-800 rounded-3xl lg:rounded-5xl">
            <img class="rounded-3xl lg:hidden" src="/ex1.png" alt="" />
            <p
              class="text-xl uppercase text-accent-500 font-medium mt-4 lg:mt-0"
            >
              {frontmatter.websiteName}
            </p>
            <p class="2xl:text-xl text-zinc-400 mt-4">
              {frontmatter.description}
            </p>
            <div class="flex flex-col gap-8 mt-8">
              <div x-data="{ open: false }" class="w-full">
                <!-- Collection Trigger -->
                <span x-on:click="open = true">
                  <button
                    type="button"
                    class="pl-4 pr-2 w-full duration-200 hover:border-accent-500 h-12 text-white justify-between uppercase border-2 rounded-full inline-flex items-center"
                  >
                    <span>Add to collecton</span>
                    <div
                      class="bg-white h-8 w-8 text-black inline-flex items-center justify-center rounded-full"
                    >
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="w-5 h-5"
                          viewBox="0 0 32 32"
                          ><path
                            fill="currentColor"
                            d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"
                          ></path></svg
                        ></span
                      >
                    </div>
                  </button>
                </span>
                <!-- Collection Modal -->
                <CollectionModal />
              </div>
            </div>
            <div
              class="flex flex-col text-sm g mt-8 divide-y-2 divide-zinc-900 border-2 border-zinc-900 rounded-2xl overflow-hidden"
            >
              <span class="uppercase p-4 bg-zinc-900 text-white">Category</span>
              {
                frontmatter.category.map((category) => (
                  <span class="text-zinc-400 p-4">{category}</span>
                ))
              }
              <span class="uppercase p-4 bg-zinc-900 text-white"
                >Typography</span
              >
              {
                frontmatter.typography.map((typography) => (
                  <span class="text-zinc-400 p-4">{typography}</span>
                ))
              }
            </div>
          </div>
        </div>
        <div
          class="flex flex-col gap-12 lg:col-span-3 bg-zinc-800 rounded-3xl lg:rounded-5xl p-10"
        >
          <div
            class="inline-flex items-center justify-between w-full col-span-full"
          >
            <p class="text-xl lg:text-5xl text-white font-medium uppercase">
              {frontmatter.websiteName}
            </p>
            <a
              href={frontmatter.visitUrl}
              class="bg-white h-8 w-8 lg:h-12 lg:w-12 hover:bg-accent-500 duration-200 text-black inline-flex items-center justify-center rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 lg:h-10 lg:w-10"
                viewBox="0 0 32 32"
              >
                <path
                  fill="currentColor"
                  d="M10 6v2h12.59L6 24.59L7.41 26L24 9.41V22h2V6H10z"></path>
              </svg></a
            >
          </div>
          <div class="flex flex-col gap-1 z-0">
            {
              frontmatter.images.map((image) => (
                <img
                  transition:name="thumbnail"
                  class="rounded-3xl w-full"
                  src={image.url}
                  alt={image.alt}
                  width="369"
                  height="228"
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
