---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title}",
    description: "{frontmatter.description}",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section>
    <div class="w-full mx-auto max-w-screen-2xl px-8 py-24 mt-24">
      <p
        class="text-2xl lg:text-7xl tracking-tighter text-white font-medium uppercase"
      >
        {frontmatter.title}
      </p>
      <p class="text-xl text-zinc-400"><em>{frontmatter.description}</em></p>
      <div class="flex flex-col lg:flex-row gap-8 mt-8">
        <div>
          <p class="text-base tracking-tighter text-white font-medium">Date</p>
          <p class="text-sm text-zinc-400">
            {frontmatter.pubDate.toString().slice(0, 10)}
          </p>
        </div>
        <div>
          <p class="text-base tracking-tighter text-white font-medium">
            Author
          </p>
          <p class="text-sm text-zinc-400">
            {frontmatter.author}
          </p>
        </div>
        <div>
          <p class="text-xl tracking-tighter text-white font-medium">Topics</p>
          <ol role="list" class="flex flex-col lg:flex-row gap-3">
            {
              frontmatter.tags.map((tag) => (
                <li>
                  <a
                    href={`/tags/${tag}`}
                    class="text-white text-sm hover:underline"
                  >
                    {tag}
                  </a>
                </li>
              ))
            }
          </ol>
        </div>
      </div>
      <div class="prose-styles mt-8">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
        <div class="max-w-2xl "><slot /></div>
      </div>
    </div>
     m
  </section>
</BaseLayout>
