---
// Assets
import { Image } from "astro:assets";
// Layout
import BaseLayout from "./BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ArrowupRight from "@/components/fundations/icons/ArrowUpRight.astro";
// Components
import BigCard from "@/components/sites/SiteCard.astro";
// Retrieve all posts from the "posts" collection
import { getCollection } from "astro:content";
const alltools = await getCollection("sites");
// Frontmatter
const { frontmatter } = Astro.props;
---

<BaseLayout showSearch={true}>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="flex flex-wrap justify-between gap-4">
        <div class="max-w-xl text-balance">
          <Text
            tag="h1"
            variant="displayMD"
            class="text-base-900 font-display font-thin capitalize"
          >
            {frontmatter.title}
          </Text>
          <Text tag="p" variant="textSM" class="text-base-600 mt-4">
            {frontmatter.description}
          </Text>
        </div>
        <Button
          iconOnly
          size="xs"
          variant="default"
          href={frontmatter.live}
          title={frontmatter.title}
        >
          <ArrowupRight slot="icon" class="size-4" />
        </Button>
      </div>
      <div class="p-8 bg-base-50 rounded-lg mt-12">
        <Image
          width={1400}
          height={1400}
          loading="lazy"
          decoding="async"
          src={frontmatter.thumbnail.url}
          alt={frontmatter.thumbnail.url}
          class="size-full aspect-8/5 object-top rounded shadow"
        />
      </div>
      <dl class="mt-4 divide-y divide-base-100">
        {
          frontmatter.details.map((details) => (
            <div class="flex itmes-center gap-2 justify-between py-2">
              <dt>
                <Text
                  tag="h3"
                  variant="textSM"
                  class="text-base-900 font-medium"
                >
                  {details.label}
                </Text>
              </dt>
              <dd>
                <Text tag="p" variant="textSM" class="text-base-600">
                  {details.value}
                </Text>
              </dd>
            </div>
          ))
        }
      </dl>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="flex flex-wrap gap-4 justify-between items-center">
        <Text
          tag="h2"
          variant="displaySM"
          class="text-base-900 font-display font-thin">Latest additions</Text
        >
        <Button isLink size="sm" variant="muted" href="/sites/">
          See all tools
        </Button>
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4 mt-8">
        {alltools.slice(0, 4).map((post) => <BigCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
