---
// Assets
import { Image } from "astro:assets";
// Fundation
import BaseLayout from "./BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Checkout from "@/components/fundations/icons/Checkout.astro";
// Components
import StoreCard from "@/components/store/StoreCard.astro";
// Retrieve all posts from the "store" collection
import { getCollection } from "astro:content";
const allstore = await getCollection("store");
// Frontmatter
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <div>
        <div class="flex flex-wrap justify-between gap-4">
          <div class="max-w-xl text-balance">
            <Text
              tag="h1"
              variant="displayLG"
              class="text-base-900 font-display font-thin"
            >
              {frontmatter.title}
            </Text>
            <Text tag="p" variant="textBase" class="text-base-600 mt-4">
              {frontmatter.description}
            </Text>
          </div>
          <Button
            iconOnly
            size="xs"
            variant="default"
            href={frontmatter.live}
            title={frontmatter.title}
          >
            <Checkout slot="icon" class="size-4" />
          </Button>
        </div>
        <div class="p-8 bg-base-50 rounded-lg mt-12">
          <Image
            width={1400}
            height={1400}
            loading="lazy"
            decoding="async"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt ?? frontmatter.title}
            class="size-full aspect-8/5 object-top rounded shadow"
          />
        </div>
        <dl class="mt-4 divide-y divide-base-100">
          {
            frontmatter.features.map((feature) => (
              <div class="flex itmes-center gap-2 justify-between py-2">
                <dt>
                  <Text
                    tag="h3"
                    variant="textSM"
                    class="text-base-900 font-medium"
                  >
                    {feature.title}
                  </Text>
                </dt>
                <dd class="mt-1">
                  <Text tag="p" variant="textSM" class="text-base-600">
                    {feature.description}
                  </Text>
                </dd>
              </div>
            ))
          }
          <dl class="divide-y divide-base-100">
            <div class="flex itmes-center gap-2 justify-between py-2">
              <dt>
                <Text
                  tag="h3"
                  variant="textSM"
                  class="text-base-900 font-medium"
                >
                  <span>Details</span>
                </Text>
              </dt>
              <dd>
                <ul role="list">
                  {
                    frontmatter.highlights.map((highlight) => (
                      <li>
                        <Text tag="p" variant="textSM" class="text-base-600">
                          {highlight}
                        </Text>
                      </li>
                    ))
                  }
                </ul>
              </dd>
            </div>
          </dl>
          <Text tag="p" variant="textSM" class="text-base-600 mt-4">
            {frontmatter.license}
          </Text>
        </dl>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        {
          frontmatter.gallery.map((img) => (
            <div class="p-8 bg-base-50 rounded-lg mt-12">
              <Image
                width={1400}
                height={1400}
                loading="lazy"
                decoding="async"
                src={img.url}
                alt={img.alt ?? frontmatter.title}
                class="size-full aspect-8/5 object-top rounded shadow"
              />
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="flex flex-wrap gap-4 justify-between items-center">
        <Text
          tag="h2"
          variant="displaySM"
          class="text-base-900 font-display font-thin">More products</Text
        >
        <Button isLink size="sm" variant="muted" href="/store/">
          See all products
        </Button>
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 mt-8">
        {allstore.slice(0, 3).map((post) => <StoreCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
